{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ThundeR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>ThundeR</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Wallet</a></li>
        <li><a href="#section2">Trade Log</a></li>
        <li><a href="#section3">Market</a></li>
        <li><a href="#section3">ThorChain integration</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
      you wallet address is : {{ address }}<br>
      Alpha Coin: {{ alpha_coin }}  {{ alpha_coin_balance }}<br>
      Beta Coin: {{ beta_coin }} {{ beta_coin_balance }}<br>
      Theta Coin: {{ theta_coin }} {{ theta_coin_balance }}<br>
      <input type="image" src="{% static "wallet/images/rune.jpg" %}" alt="submit" width="48" height="48"><br>
      <img src="{% static "wallet/images/thunder.gif" %}">
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
</html>
